@media screen and (min-width: 260px) and (max-width: 480px)  {
    
  header {
      height: 90px;
  }

  #menu ul {
    display: none;
  }
    
  #menu select {
    display: none;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 80%;
  }
  
  h1 {
    font-size: 2em;
  }

  h2{
     font-size: 0.825em;
     margin-bottom: 20px;
  }
    
  #gallery li {
    width: 100%;
  }

  #form-wrapper, #form-sidebar {
    width: 100%;
  }

  #form-wrapper .fields  {
    width: 100%;
  }
  
  .fields textarea, .fields input{
    width: 85%;
    margin-bottom: 3%;
  }
    #form-wrapper .button {
        width: 100%;
    }
    #form-wrapper h2 {
        margin-bottom: 3%;
    }

}

@media screen and (min-width: 480px) and (max-width: 800px) {
  
  #menu select, #menu .menuIcon {
    display: none;
  }
    
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }
  
  #gallery li {
    width: 44%;
  }
    
   #gallery li:nth-child(3n) {
    clear: left;
  }
  
  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
    
     #form-wrapper, #form-sidebar {
        width: 100%;
    }
    
    .fields textarea{
        width: 90%;
        margin-bottom: 3%;
    }
    .fields .name {
        width: 50%;
        float: left;
        margin-bottom: 1%;
    }
    
    .fields .name input, .fields .email input {
        width: 80%;
        margin-bottom:6%;
    }
    .fields .email {
        width: 50%;
        float: right;
        margin-bottom: 1%;
    }
    #form-wrapper h2 {
        margin-bottom: 3%;
    }
    
}

@media screen and (min-width: 800px) {
    
  #menu select, #menu .menuIcon {
    display: none;
  }
    
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 30%;
    float: right;
  }

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  #gallery li {
    width: 28.3333%;
  }
  
  #gallery li:nth-child(7n) {
    clear: left;
  }
    
    #contact-form {
        width: 100%;
    }
    #form-wrapper{
        width: 60%;
        float:left;
    }
    #form-sidebar {
        width: 30%;
        float:left;
    }
    
    .fields textarea{
        width: 90%;
        margin-bottom: 3%;
    }
    
    .fields .name {
        width: 50%;
        float: left;
        margin-bottom: 2%;
    }
    .fields .name input, .fields .email input {
        width: 80%;
    }
    .fields .email {
        width: 50%;
        float: right;
        margin-bottom: 2%;
    }
}
    